# pycache folder
__pycache__/

data
plot/*

# .ipynb checkpoint files
.ipynb_checkpoints/
src/model/.ipynb_checkpoints/
src*

saved_model

main.ipynb
main_tcga.ipynb

run_*
results*

# wandb files
wandb*

# slurm log
midgd_sweep.sh*