# pycache folder
__pycache__/

data
plot/*
plots/*
scripts
metrics/*
models/*

# .ipynb checkpoint files
.ipynb_checkpoints/
src/model/.ipynb_checkpoints/
src*

saved_model

main.ipynb
main_tcga.ipynb

run_*
results*
*.out

# wandb files
wandb*

# slurm log
midgd_sweep.sh*